<div ng-controller="PricePlanCtrl">
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn" ng-click="openDialog()"><i class="icon-folder-open"></i></button>
    </div>
</div>
<form >
    <div class="control-group">
        <label class="control-label" for="code">Price plan specification:</label>
        <textarea id="code" ui-codemirror="{mode: {name: 'javascript', json: true},
                                                            theme:'eclipse',
                                                            styleActiveLine: true,
                                                            lineNumbers: true,
                                                            lineWrapping: true,
                                                            matchBrackets: true,
                                                            autoCloseBrackets: true,
                                                            onGutterClick: foldJS}" ng-model="json"></textarea>
    </div>
    <div class="control-group">
        <button ng-click="createPricePlan()" class="btn btn-primary {{disabled}}">Save</button>
    </div>
</form>
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>